@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
}


/* .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

figure {
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
  padding: 1rem;
  width: 80vh;
  cursor: pointer;
} */


